html {
  font-family: 'Satisfy', cursive;
}

canvas {
  box-shadow: 3px 6px 9px 0 #c7c5c7;
  -webkit-box-shadow: 3px 6px 9px 0 #c7c5c7;
  -moz-box-shadow: 3px 6px 9px 0 #c7c5c7;
  border-radius: 5px;
}
