@font-face {
  font-family: Monoton;
  src: url(./font-face/monoton/Monoton-Regular.ttf)
}

@font-face {
  font-family: Signika;
  src: url(./font-face/signika/Signika-Regular.otf);
}

html {
  font-family: Signika, sans-serif;
  color: #2f2f2f;
}

h1 {
  font-weight: 500;
  font-size: 1.8em;
}

canvas {
  box-shadow: 3px 6px 9px 0 #c7c5c7;
  -webkit-box-shadow: 3px 6px 9px 0 #c7c5c7;
  -moz-box-shadow: 3px 6px 9px 0 #c7c5c7;
  border-radius: 5px;
}

.canvas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 10px;
}

.heading {
  font-size: 4em;
  font-family: Monoton;
}

.small-heading {
  font-size: 1.2em;
}

.content-center {
  display: flex;
  justify-content: center;
}

.link {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #2f2f2f;
  border-bottom: 2px solid #2f2f2f;
}

.footer {
  margin-top: 5px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	display: none;
}

.toggle {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #dedede;
	-webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

.toggle:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .toggle {
	background-color: #424242;
}

input:focus + .toggle {
	box-shadow: 0 0 1px #4f4f4f;
}

input:checked + .toggle:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.toggle:after {
	content: 'OFF';
	color: white;
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 72%;
	font-size: 12px;
}

input:checked + .toggle:after {
	content: 'ON';
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 25%;
	font-size: 12px;
}

input:checked + .toggle .on {
	display: block;
}

input:checked + .toggle .off {
	display: none;
}

@media only screen and (max-width: 480px) {
  canvas {
    width: 250px;
    height: 250px;
  }

  .canvas-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 5px;  
  }

  .switch {
    width: 50px;
    height: 25px;  
  }

  .toggle:before {
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    border-radius: 25px;
  }

  /* .toggle:after {
    top: 50%;
    left: 42%;
    font-size: 10px;
  } */
  
  .heading {
    font-size: 1.5em;
    word-spacing: 5px;
  }

  h1 {
    font-size: 1.5em;
  }

  .link {
    font-size: 14px;
  }

  .small-heading {
    font-size: 12px;
  }
}